<!DOCTYPE html>
<html>
<header>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</header>

<section id="welcome">
<div>
<h1>Welcome to the Teachers App!</h1>
<h3><%= @user.name %>'s Homepage</h3><br>
</div>
</section>

<section id="standards">
<div>
<h2>Here are your Standards and Resources:</h2>
</h3><a href="/standards/new" class="button">Add a Standard</a><br>

<ul>
<% @standards.each do |standard|%>
  <li>
  <%= "Standard:" %><br><ul><li><%= standard.title %></li></ul><br>
  <%= "Description:" %><br><ul><li><%= standard.description %></li></ul><br>
  <%= "Resources:" %><br>
    <% standard.resources.each do |resource| %>
    <ul><li><%= resource.title  %></li></ul>
    <ul><li><%= resource.link %></li></ul><br>
    <% end %>
  </li>
  <a href='/standards/<%= standard.id %>'>Show Standard</a><br><br>
<% end %>
</ul>

<form action='/logout' method='POST'>
    <button type="submit">Log Out</button>
</form>
</div>
</section>
</html>
