<h1>Welcome to the Teachers App!</h1>

<h2><%= @user.name %>'s Homepage</h2>

<h3>Here are your Standards and Resources:</h3>
<ul>
<% @standards.each do |standard|%>
  <li><%= "Standard:" %><br><%= standard.title %><br><br>
  <%= "Description:" %><br><%= standard.description %><br><br>
  <%= "Resources:" %>
  </li>
<% end %>
</ul>

<form action='/logout' method='POST'>
    <button type="submit">Log Out</button>
</form>
