<!DOCTYPE html>
<html>
<header>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</header>


<body id="user_homepage">

  <% if flash_waiting? %>
    <div class="flash">
      <%= read_flash %>
    </div>
  <% end %>
  
  <section>
    <div>
    <h1 id="welcome">Welcome to the Teacher Organizer!</h1>
    <h3 id="users_name"><%= @user.name %>'s Homepage</h3><br>
    </div>
  </section>

  <section id="standards">
    <div>
      <a href="/standards/new" class="spacious primary">Add a Standard &raquo;</a><br><br>

      <ul>
        <% @standards.each do |standard| %>
          <%= erb :'partials/standard', locals: { standard: standard } %>
          <a href='/standards/<%= standard.id %>' class="spacious primary">Show Standard</a>
        <% end %>
      </ul>

      <form action='/logout' method='POST'>
          <button type="submit">Log Out</button>
      </form>
    </div>
  </section>
</body>
</div>
</html>
