<h1>Welcome to the Teachers App!</h1>

<h2><%= @user.name %>'s Homepage</h2>

<h3>Here are your Standards and Resources:</h3>
<ul>
<% @standards.each do |standard|%>
  <li>
  <%= "Standard:" %><br><ul><li><%= standard.title %></li></ul><br>
  <%= "Description:" %><br><ul><li><%= standard.description %></li></ul><br>
  <%= "Resources:" %><br>
    <% standard.resources.each do |resource| %>
    <ul><li><%= resource.title  %></li></ul>
    <ul><li><%= resource.link %></li></ul><br>
    <% end %>
  </li>
<% end %>
</ul>

<form action='/logout' method='POST'>
    <button type="submit">Log Out</button>
</form>
